<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wind.clerk.oauth.dao.mapper.AuthorityMapper">
    <resultMap id="resultMap" type="AuthorityDO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="display_name" property="displayName" jdbcType="VARCHAR"/>
        <result column="resource_url" property="resourceUrl" jdbcType="VARCHAR"/>
        <result column="parent" property="parent" jdbcType="VARCHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="query" resultMap="resultMap">
        select *
        from `clerk-oauth`.authority
    </select>

    <insert id="insert" parameterType="AuthorityDO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into `clerk-oauth`.authority (name, display_name, resource_url, parent, gmt_created, gmt_modified)
        values (#{name}, #{displayName}, #{resourceUrl}, #{parent}, #{gmtCreated}, #{gmtModified})
    </insert>

    <update id="update" parameterType="AuthorityDO">
        update  `clerk-oauth`.authority
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="displayName!=null">
                display_name=#{displayName},
            </if>
            <if test="resourceUrl!=null">
                resource_url=#{resourceUrl},
            </if>
            <if test="parent!=null">
                parent=#{parent},
            </if>
            <if test="gmtModified!=null">
                gmt_modified=#{gmtModified},
            </if>
        </set>
        where id=#{id}
    </update>
    <select id="countOfRelatedRoles" resultType="int">
        select count(*) from `clerk-oauth`.role_authority where authority_id=#{authorityId}
    </select>
    <delete id="delete">
        delete from `clerk-oauth`.authority where id=#{id}
    </delete>
</mapper>